<header class="bg-white shadow-sm">
    <div class="container py-2">
      <div class="d-flex justify-content-between align-items-center">
        <a href="/portfolio/" class="navbar-brand d-flex align-items-center">
          <img src="{{ site.baseurl }}/assets/images/logotip.jpg" alt="Логотип" style="max-height: 36px; margin-right: 10px;">
          <span style="font-weight: 600; font-size: 1.1rem; color: #005FA3;">А. Матейко | Портфолио</span>
        </a>
      </div>
      <div class="text-center mt-3">
        <h1 class="h4 text-dark">Data Analyst — аналитика данных и кейсы</h1>
      </div>
      {% include nav.html %}
    </div>
  </header>
  