body {
    background-color: #f9f9f9;
  }
  
  header {
    background: #0077cc;
    color: white;
    padding: 1rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #777;
    background-color: #f1f1f1;
    margin-top: 2rem;
  }
  
  nav a.nav-link {
    color: white;
  }
  
  nav a.nav-link:hover {
    background-color: #004080;
    border-radius: 5px;
  }
  
  .case-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    text-decoration: none;
  }
  
  .case-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    text-decoration: none;
  }
  
  .case-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .case-card h3 {
    margin-top: 1rem;
  }
  
  .case-card p {
    font-size: 0.9rem;
    color: #555;
  }

  .nav-link {
    font-size: 1.2rem; /* Сделает шрифт крупнее */
    margin: 0 1rem; /* Увеличит расстояние между ссылками */
  }
  