body {
  background-color: #f9f9f9;
}

header {
  background: #0077cc;
  color: white;
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #777;
  background-color: #f1f1f1;
  margin-top: 2rem;
}

nav a.nav-link {
  color: white;
  font-size: 1.2rem; /* Крупнее шрифт */
  margin: 0 1rem;    /* Больше расстояние */
  text-decoration: none;
}

nav a.nav-link:hover {
  background-color: #c1bebd;
  border-radius: 5px;
}

.case-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.case-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
}

.case-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  height: 300px; /* Высота изображения */
}

.case-card h3 {
  margin-top: 1rem;
  color: #005FA3
}

.case-card p {
  font-size: 0.9rem;
  color: #555;
}

.case-card a {
  text-decoration: none;
  color: inherit;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1030;
  display: none;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 42px;
  padding: 0;
}

@media (max-width: 576px) {
  .back-to-top {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 36px;
  }
}

.img-container {
  margin: 1rem 0;
  text-align: center;
}

pre {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

code {
  font-family: "Courier New", Courier, monospace;
}

.btn-primary {
  background-color: #005FA3;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
}
